* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

body, html, .wrap, .swiper-container {
  height: 100%;
  width: 100%;
  oveflow: hidden; }

body {
  font-size: .32rem;
  background: #EDEDED; }

.wrap {
  display: flex;
  flex-direction: column; }

.header {
  height: 1rem;
  width: 100%;
  display: flex;
  line-height: 1rem;
  background: #fff; }
  .header span {
    flex: 1;
    text-align: center;
    font-size: .4rem; }
    .header span:nth-child(2) {
      flex: 4;
      text-align: center; }
    .header span a {
      display: inline-block;
      margin-left: .1rem;
      cursor: pointer; }

.section {
  flex: 1;
  overflow-y: scroll; }

.swiper-container {
  height: 2.5rem; }

.swiper-slide img {
  height: auto;
  width: 100%; }

.swiper-pagination span {
  height: .1rem;
  width: .5rem;
  border-radius: 0;
  background: #fff; }

.list1 {
  height: 2rem;
  width: 100%;
  display: flex;
  padding-top: .2rem;
  background: #fff; }
  .list1 li {
    flex: 1;
    text-align: center; }
    .list1 li i.icon {
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      text-align: center;
      line-height: 1rem;
      background: #FF6565;
      color: #fff;
      margin-left: .4rem;
      font-size: .6rem; }
    .list1 li span {
      margin-top: .2rem;
      display: block; }

.tit1 {
  height: 1.5rem;
  width: 100%;
  position: relative;
  background: #fff; }
  .tit1 img {
    heigth: auto;
    width: 100%; }
  .tit1 h1 {
    position: absolute;
    left: .6rem;
    top: 0;
    z-index: 99;
    color: #fff;
    height: 1.5rem;
    line-height: 1.5rem;
    font-weight: normal; }
    .tit1 h1 span {
      color: #FDFCC5; }
    .tit1 h1 b {
      padding-left: .5rem;
      font-weight: normal; }

.tit2 {
  heigth: 1rem;
  width: 100%;
  padding: 0 .4rem;
  line-height: 1rem;
  font-size: .4rem;
  background: #fff; }

.list2 {
  display: flex;
  flex-wrap: wrap;
  background: #fff; }
  .list2 li {
    width: 25%;
    height: 2rem;
    text-align: center;
    border: 1px solid #eee; }
    .list2 li i.icon {
      display: block;
      font-size: .8rem;
      margin-top: .2rem; }
    .list2 li span {
      display: block;
      margin-top: .2rem; }

.box1 {
  height: auto;
  width: 100%;
  padding: 0 .2rem;
  background: #fff;
  padding-bottom: .3rem; }
  .box1 p {
    display: flex;
    height: 1rem;
    line-height: 1rem;
    font-size: .4rem; }
    .box1 p span {
      flex: 1; }
      .box1 p span:nth-child(1) {
        text-align: left; }
      .box1 p span:nth-child(2) {
        text-align: right; }
        .box1 p span:nth-child(2) b {
          padding: .1rem;
          background: #555555;
          color: #fff;
          font-weight: normal;
          margin-left: .1rem;
          margin-right: .1rem; }

.box2 {
  display: flex; }
  .box2 dl {
    width: 50%;
    height: 3.5rem;
    border: 1px solid #ccc;
    margin: 0 .1rem; }
    .box2 dl dt img {
      width: 90%;
      height: 100%; }
    .box2 dl dd {
      margin-left: .2rem; }
      .box2 dl dd h3 {
        font-weight: normal;
        line-height: .8rem; }
      .box2 dl dd h4 {
        font-weight: normal;
        line-height: .5rem;
        font-size: .36rem; }
        .box2 dl dd h4 span:nth-child(1) {
          color: #FB5401; }
        .box2 dl dd h4 span:nth-child(2) {
          color: #ccc;
          text-decoration: line-through;
          padding-left: .4rem; }

.box4 {
  height: auto;
  width: 100%;
  margin-top: .2rem;
  background: #fff; }

.tit3 {
  height: 1rem;
  width: 100%;
  line-height: 1rem;
  display: flex;
  padding: 0 .3rem;
  font-size: .36rem; }
  .tit3 span {
    flex: 1; }
    .tit3 span:nth-child(2) {
      text-align: right;
      color: #ccc; }

.box5 {
  height: auto;
  width: 100%;
  display: flex; }
  .box5 dl {
    height: 3.5rem;
    flex: 1;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc; }
    .box5 dl dt img {
      width: 90%;
      height: auto;
      margin-left: .2rem; }
    .box5 dl dd h3 {
      font-wieght: normal;
      margin-top: .2rem;
      margin-left: .3rem; }
    .box5 dl dd p {
      font-wieght: normal;
      margin-top: .1rem;
      margin-left: .3rem;
      color: #FB5401; }

.box6 {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .box6 dl {
    width: 50%;
    height: 5.5rem;
    border: 1px solid #eee; }
    .box6 dl dt img {
      width: 90%;
      height: auto;
      margin: .2rem; }
    .box6 dl dd {
      font-size: .4rem;
      margin-left: .2rem; }
      .box6 dl dd h4 {
        font-weight: normal;
        line-height: .8rem;
        font-size: .36rem; }
      .box6 dl dd p {
        color: #ccc;
        line-height: .5rem;
        font-size: .3rem; }
      .box6 dl dd h5 {
        font-weight: normal;
        line-height: .8rem; }
        .box6 dl dd h5 span:nth-child(1) {
          color: #FB5401;
          font-size: .44rem; }
        .box6 dl dd h5 span:nth-child(2) {
          color: #AFAFAF;
          text-decoration: line-through;
          margin-left: .2rem; }

.footer {
  height: 1.2rem;
  width: 100%;
  display: flex; }
  .footer a {
    flex: 1;
    text-align: center; }
    .footer a i.icon {
      display: block;
      font-size: .5rem;
      margin-top: .1rem; }
    .footer a span {
      display: block; }

/*# sourceMappingURL=style.css.map */
